footer
    background-color: $color-primary
    display: flex
    align-items: center
    flex-flow: row wrap
    justify-content: space-between
    padding: $padding-1
    width: 100%
    @include media-breakpoint-down(sm)
        padding: $mobile-padding-1
    .logotype
        font-size: 1.5em
        border-bottom: 1px solid $color-white
        @include media-breakpoint-down(xs)
            font-size: 1.15em
    section, nav
        width: 50%
        flex: 0 0 50%
        @include media-breakpoint-down(md)
            width: 100%
            flex: 0 0 100%
        p  
            color: $color-light-gray!important
            margin: 0
    nav
        color: $color-white
        display: flex
        flex-flow: row wrap
        height: 100%
        @include media-breakpoint-up(lg)
            justify-content: flex-end
        .brand
            color: white
            text-decoration: none
            font-size: 1.25em
        ul
            margin: 0
            padding: 0
            display: flex
            flex-flow: row wrap
            li
                flex: 0 0 calc(25% - 20px)
                list-style-type: none
                margin: 0 10px
                @include media-breakpoint-down(md)
                    flex: 0 0 calc(33.3333% - 10px)
                    margin-left: 0
                @include media-breakpoint-down(xs)
                    margin: 0
                    flex: 0 0 50%
    a
        text-decoration: none
        color: $color-white
        &:hover
            text-decoration: none
            color: $color-white

.footnote
    background: $color-white
    color: $color-primary
    text-align: center
    width: 100%

.resilient-coders
    color: $color-primary
    text-decoration: none
    &:hover 
        color: #ed1b24